.page-nav {
    width: 100%;
    
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;

    margin-bottom: 2rem;

    opacity: 0;
    animation: opacity-1 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) 0s forwards;

    a {
        padding-inline: 1rem;


        &:first-child {
            padding-left: 0;
        }

        &:hover {
            font-weight: 700;
        }
    }
}